/*
 * DokuWiki Plugin HyperLink;
 */

/* window open: target="window" */
a.openwindow {
    color: #03c;
    transition: 0.5s;
}
a.openwindow:hover {
    color: #39f;
}
a.openwindow:after {
    padding: 0 2px;
    content: "⤴";
    font-size: 80%;
    vertical-align: text-top;
}

/* button emulation: class="button" */
a.button {
      display: inline-block;
      background-color: __background_alt__ !important;
      border: 1px solid __border__;
      padding: .2em .2em !important;
      /* border-radius: 6px; */
      box-shadow: 5px 5px 10px __background__;
}
a.button:hover {
      text-decoration: none !important;
      background-color: __background_neu__ !important;
      box-shadow: 5px 5px 10px __border__;
}

/* class="noicon" */
.dokuwiki a.noicon {
  background-image: none !important;
  padding-left: .2em !important;
}
[dir=rtl] .dokuwiki a.noicon {
  padding-right: .2em !important;
}


